h1 {
    font-family: sans-serif;
    font-weight: bold;
    color: #ea8266;
}

/***main content***/
ul {
    list-style-type: none;
    padding: 0;
}

#left-col {
    background-color: rgba(252, 227, 227, 0.7);
    background-image: url(bg.jpg);
    text-align: center;
    height: 100vh;
}

#right-col {
    padding: 10px 50px;
    background-color: rgba(252, 252, 232, 0.56);
    padding-left: 25em;
}

a {
    color: #b9780e;
}

a:hover {
    color: #b9780e;
}

.surname {
    color: #498467;
}
h3 {
    background-color: #c0edea;
    color: rgba(212, 132, 0, 0.9);
    font-weight: bold;
}

h5 {
    color: #ea8266;
}

body {
    color: #3D405B;
}

img {
    border-radius: 50%;
}

hr {
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: #ffbdbd
}
